.quoteImgCont {
	position: relative;
}

.quoteImgCont > div {
	position: absolute;
	top: 0;
	left: 0;
}

@media only screen and (max-width: 600px) {
	.quoteImgCont > img {
		width: 150px;
	}
	.quoteImgCont {
		height: 500px;
	}
}
